<nav>
    <div class="title">
        <a href="/"><h1>Class Registration</h1></a>
    </div>
    
    <ul>
        <li><a href="./about">General</a></li>
        <li><a href="/">Classes</a></li>
        <li><a href='/classes/create'>New Class</a></li>
        <li><a href='/login'>Login</a></li>
    </ul>
</nav>