<nav>
    <div class="title">
        <a href="/"><h1>Class Registration</h1></a>
    </div>
    
    <ul>
        <% if (user) { %>
            <li>Welcome, <%= user.email %></li>
        <% } %>
        <li><a href="/about">General</a></li>
        <li><a href="/">Classes</a></li>
        <% if (user) { %>
            <% if (user.instructor) { %>
                <li><a href='/classes/create'>New Class</a></li>
            <% } else { %>
                <li><a href='/classes/cart'>Cart</a></li>
            <% } %>

        <% } %>
        
        <% if (user) { %>
            <li><a href='/logout'>Logout</a></li>
        <% } else { %>
            <li><a href='/login'>Login</a></li>
        <% } %>
        
        
    </ul>
</nav>