<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum alias saepe eius sed incidunt iusto.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, eum?</p>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>