<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div id="about-content">
        <div id="center">
            <span class="title">Welcome to Class Registration</span>
        </div>
        <hr>
        <h2>To get started...</h2>
        <h3>Make sure you are signed in in the top left corner!</h3>
        <h4>Use the navigation bar to </h4>
        <ul>
            <li>View courses catalog</li>
            <li>View your current course registrations</li>
        </ul>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>